@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   8104 Milan<br />
    St. Louis, MO 63130<br />
    <abbr title="Phone">Phone:</abbr>
    314.374.4304
</address>

<address>
    <strong>Support:</strong> <a href="mailto:david.a.foote@gmail.com">david.a.foote@gmail.com</a>
</address>
