<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
@{

}
    <h1 class="text-center">Yo Habla Español</h1><br/><br/>

    <form method="post" action="/api" class="text-center">
    <input name="translation" type="text" placeholder="Enter translation" class="text-center"/><br/><br/>
    <input name="pretranslation" type="hidden" value=""/><br/><br/>
    <button class="btn">Submit</button>
    </form>
