<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

@{

}

<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<script>
    $(document).ready(function () {
        $("button").addClass("animated shake");
  });
</script>

<body style="background-color:#E6E6FA">
</body>

<div class="container-fluid">
    <h1 class="text-center">Yo Habla Español</h1><br /><br />

    <form method="post" action="/api" class="text-center">
        <input name="translation" type="text" placeholder="Enter translation" class="text-center" /><br /><br />
        <input name="pretranslation" type="hidden" value="" /><br /><br />
        <button class="btn btn-primary animated shake"><i class="fa fa-paper-plane"></i>Submit</button>
    </form>
</div>